{% extends 'base.html' %}

{% block title %}{{ category }} Projects{% endblock %}

{% block content %}
  <!-- Back Button -->
  <div class="mb-4">
    <a href="{{ url_for('index') }}" class="btn btn-outline-secondary">
      <i class="fas fa-arrow-left"></i> {{ category }}
      

    </a>
  </div>




  <div class="row g-4">
    {% for project in projects %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm hover-shadow">
          {% if project.cover %}
            <img src="{{ project.cover }}" class="card-img-top" alt="{{ project.title }} cover" style="max-height: 300px; object-fit: cover;">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <a href="{{ url_for('project_detail', project_index=loop.index0) }}" class="btn btn-sm btn-outline-primary">
              a
            </a>
            {{project.date_created}}
          </div>
        </div>
      </div>
    {% else %}
      <p>No projects found in this category.</p>
    {% endfor %}
  </div>




  <!-- Pagination -->
  {% if total_pages > 1 %}
  <nav>
    <ul class="pagination justify-content-center">
      {% for page in range(1, total_pages + 1) %}
      <li class="page-item {% if page == current_page %}active{% endif %}">
        <a class="page-link" href="{{ url_for('view_category', category=category, page=page) }}">{{ page }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
{% endblock %}
